node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
.DS_Store
*.pem
*.tsbuildinfo
app-example
/ios
/android
firepit-log.txt
firebase-debug.log
.git/
.github/
__tests__/
.maestro/
.vscode/
